
<div class="card" style="width:300px; height:350px; margin: 10px; padding: 10px;">
    <div style="width:100%;text-align:center;">
        <img src={{product.image}} width="120" height="150">
    </div>
    <div class="card-body" style="width:100%;text-align:center;">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">Rs.{{product.price}} </p>
      <a href="#" class="btn" style="background-color: #ff6666; color: white;" (click)="selectProduct()">Add to cart</a>
    </div>
  </div>

<div>
    