<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ff0066;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Bookstore</a>
        
        <ul class="navbar-nav" style="flex-direction: row; margin-right: 5px;">
            <li class="nav-item m-2">
                <a class="nav-link" style="color: white;" routerLink="productlist">Products</a>
            </li>
            <li class="nav-item m-2">
                <a class="nav-link" style="color: white;" routerLink="orderlist">Orders</a>
            </li>
        </ul>
    </div>
</nav>

  